<!-- Nav tabs -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href=""  >Latrom Tracking</a>
        <li class="navbar-text">
            Your Company Here
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-briefcase"></i> Business <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fas fa-satellite"></i> Monitor</a>
        </li>
        <li class="nav-text" >
            <span class='text-white' style="float:right;" >Hello {{name}} <span>{{devices}}</span> [ <a class='text-white' href="">Change Password</a> ]  <a class='text-white' href="">Exit</a> </span>
        </li>
    </ul>
</nav>
