<!-- Nav tabs -->


<nav id='nav' class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/login"  >Latrom Tracking</a>
        <li class="navbar-text">
            {{name}}
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/monitor/home"><i class="fas fa-user"></i> Monitor </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/statistics"><i class="fas fa-chart-line"></i> Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/devices"><i class="fas fa-server"></i> Device</a>
        </li>
        <li class="nav-text" >
            <span class='text-white' style="float:right;" >Hello {{name}} <span>{{devices}}</span> [ <a class='text-white' href="/change-password">Change Password</a> ]  <a class='text-white' href="/logout">Exit</a> </span>
        </li>
    </ul>
</nav>


<script>
    function inIframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }

    $(document).ready(function (){
        if(inIframe()){
            $("#nav").hide();
        }
    })
</script>